html(lang="en")
	head
		title the genprog blog
		meta(charset="utf-8")
		link(rel="stylesheet" href="/static/pixyll.css")
		link(rel="stylesheet" href="/static/tomorrow-night-eighties.min.css")
	body
		div.header
			h2: a(href="/") the genprog blog
			p ramblings from bored programmers
		div.content
			block content
