html(lang="en")
	head
		title the genprog blog
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width; initial-scale=1")
		link(rel="shortcut icon" type="image/png" href=asset_url("icon.png"))
		link(rel="stylesheet" href="/static/pixyll.css")
		link(rel="stylesheet" href="/static/tomorrow-night-eighties.min.css")
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css")
		meta(property="og:image" content=asset_url("icon.png"))
		block head
	body
		div.header
			h2: a(href="/") the genprog blog
			p ramblings from bored programmers
		div.content
			block content
